@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sansation_Regular';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Regular.ttf);
  }
  @font-face {
    font-family: 'Sansation';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Regular.ttf);
  }
  @font-face {
    font-family: 'Sansation_Light';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Light.ttf);
  }
  @font-face {
    font-family: 'Sansation_Light_Italic';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Light_Italic.ttf);
  }
  @font-face {
    font-family: 'Sansation_Italic';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Italic.ttf);
  }
  @font-face {
    font-family: 'Sansation_Bold';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Bold.ttf);
  }
  @font-face {
    font-family: 'Sansation_Bold_Italic';
    font-display: swap;
    src: url(/fonts/sansation/Sansation_Bold_Italic.ttf);
  }

  html {
    font-family: 'Sansation_Regular', system-ui, sans-serif;
  }
}

@layer utilities {
  .progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  .hasImage:hover section {
    background-color: rgba(5, 5, 5, 0.4);
  }
  .hasImage:hover button:hover {
    background: rgba(5, 5, 5, 0.45);
  }

  #overlay p,
  i {
    opacity: 0;
  }

  #overlay.draggedover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  #overlay.draggedover p,
  #overlay.draggedover i {
    opacity: 1;
  }

  .group:hover .group-hover\:text-blue-800 {
    color: #2b6cb0;
  }

  .gradient-y-r {
    border-radius: 92.361px;
    background: var(--Gradient-Miami, linear-gradient(143deg, #ffbf1a 5.36%, #ff4080 94.64%));
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-top-right-radius: 75vh;
    border-bottom-left-radius: 75vh;
    background: #acacac;
    opacity: 0.3;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #f1bb83;
    border-top-right-radius: 75vh;
    border-bottom-left-radius: 75vh;
    border: 0.5px solid #333;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f1bb83;
  }
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.talAura-gradient-text {
  background: -webkit-linear-gradient(#e4a66d, #f1bb83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}
